<h1>Carts</h1>

<ul>
  {{#each carts as |cart|}}
    <li>
      Cart id: {{cart.id}}
      {{#if cart.products.length}}
        <ul>
          {{#each cart.products as |product|}}
            <li>Product id: {{product.id}}</li>
            <li>Quantity: {{product.quantity}}</li>
          {{/each}}
        </ul>
      {{else}}
      <br>
        (No products available).
      {{/if}}
    </li>
  {{/each}}
</ul>

<script src="/js/cartslist.js"></script> 