<h1>Products</h1>

<!--  
{{#if condicion}}
    <p>Bloque true</p>
{{else}}
    <p>Bloque false</p>
{{/if}}
-->
{{#each products}}
    <div>
        <p>titulo: {{this.title}}</p>
        <p>descripción: {{this.description}}</p>
    </div>
{{/each}}

<script src="/js/index.js"></script> <!-- Paso 7 agrego el archivo estático .js-->