<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{style}}.css"> <!-- Paso 9 agrego archivo estático .css, se trae el nomber desde el controler -->
    <title>Document</title>
</head>
<body>
    <p>Hola desde el HTML puro</p>
    {{{body}}} <!-- Solamente acá se utilizan las 3 llaves porque es donde insertamos el HTML -->
</body>
</html>